body {
  background-color: #F7E7CE;
}

.App {
  padding: 1em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Main-content {
  max-width:740px;
  margin:0 auto;
  padding: 1em;
  border-radius:8px;
  background-color:lightgray;
}

.short-paper{
  min-height: 105px;
}

.medium-paper {
  min-height: 210px;
}

.medium-tall-paper {
  min-height: 265px;
}

.tall-paper {
  min-height:320px;
}

.paper-footer {
  position:absolute;
  bottom: 1em;
}

h1 {
  font-size: 1em;
}

.Step-description {
  padding: 0.5em;
  position:relative;
}

.Map-container {
  overflow:hidden;
  height:50vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
